<div class="container">
    <h1 *ngIf=poemDataBool>
        Loading...
    </h1>
    <div *ngIf=formBool>
        <h1>Syllabary Poem Generator</h1>
        <form [formGroup]="poemFormGroup" class="example-form">
            <mat-form-field class="standard-input" appearance="fill">
                <mat-label>How many poems do you want to generate?</mat-label>
                <mat-hint>Maximum number of poems is {{ poemCodeList.length }}</mat-hint>
                <input matInput type="number" formControlName="numOfPoemsControl" required>
            </mat-form-field>
            <br><br>
            <mat-form-field class="standard-input" appearance="fill">
                <mat-label>What poem do you want to select?</mat-label>
                <input matInput type="text"placeholder="Pick one" formControlName="startingPoemControl" [matAutocomplete]="auto" required> 
                <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredDropdownOptions | async" [value]="option">
                    {{ option }}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="standard-input" appearance="fill">
                <mat-label>Do you want to start or end on this poem?</mat-label>
                <select matNativeControl formControlName="poemOrderControl" required>
                    <option value="start">Start</option>
                    <option value="end">End</option>
                </select>
            </mat-form-field>
        </form>
        <div class="centered-container">
            <button type="submit" mat-raised-button (click)="execute()" color="primary" [disabled]="!poemFormGroup.valid">Submit</button>
            <iframe src="" height="200" width="300" title="Iframe Example" id="iframeExample"></iframe>
        </div>
    </div>
</div>

