<div class="container">
  <h1>Syllabary Poem Generator</h1>
  <form [formGroup]="emailFormGroup">
    <mat-form-field class="standard-input" appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput type="email" formControlName="emailControl" required>
    </mat-form-field>
    <mat-form-field class="standard-input" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="passwordControl" required>
  </mat-form-field>
  </form>
  <div class="example-button-row">
    <button type="submit" mat-raised-button (click)="login()" color="primary" [disabled]="!emailFormGroup.valid">Login</button>
  </div>
</div>

