/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: larger;
}

.main-container {
    display: flex;    
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: rgb(252, 252, 252);
    border-radius: 1em;
    margin-top: 3em;
    padding: 3em 4em;
}

.standard-input {
    width: 100%;
}

.centered-container {
    display: flex;
    justify-content: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
